{% extends "@LddtMain/n2.html.twig" %}
{% if commentForm is defined %}
{% form_theme commentForm 'bootstrap_3_layout.html.twig' %}
{% endif %}
    {% block n3 %}
    <!-- Template Niveau 3 -->
    <div class="row">

        <div class="col-lg-7">
            <h2>{{ draw.title }}</h2>
            {% if draw.idInstagram is null %}
            {#<img class="col-lg-12 well well-lg img-polaroid" src="{{ asset("bundles/lddtmain/images/"~draw.drawPath) }}" />#}
            <img class="col-lg-12 well well-lg img-polaroid" src="{{ asset(draw.pic.getWebPath) }}" />
            {#{{ dump(asset(draw.pic.webPath)) }}#}
            {% else %}
                <img class="col-lg-12 well well-lg img-polaroid" src="{{ draw.pic.path }}" />
            {% endif %}
        </div>
        <div class="col-lg-5">
            <div class="well SidebarShow">
                <div class="col-lg-4">

                    {#<img src="{{ asset("bundles/lddtmain/images/"~draw.avatarPath) }}" class="col-lg-12 img-circle shadow" /> <br/>#}
                    <img src="{{ asset(draw.author.avatar.webPath) }}" class="col-lg-12 img-circle shadow" /> <br/>
                    {#<p class="AuthorName"><a href="#">{{ draw.authorName }}</a></p>#}
                    {#{{ dump(draw.author.id) }}#}
                    <p class="AuthorName"><a href="{{ path('lddt_main_list_by_author',{'id':draw.author.id}) }}">{{ draw.author.username }}</a></p>

                </div>
                <div class="col-lg-8">
                    <p> Voir plus de dessins dans: <a href="{{ path('lddt_main_list_by_cat',{'id':draw.category.id}) }}">{{ draw.category.name }}</a></p>
                    <p style="margin-top:15px"><strong>Couleurs:</strong></p>
                     {% for color in draw.color %}
                         <a href="{{ path('lddt_main_list_by_color',{'id':color.id}) }}"><div class="colorBlock" style="background:#{{ color.code }}">
                        </div></a>
                     {% endfor %}
                    <br>
                    {#<p style="margin-top:15px">Tags:</p>#}
                    {% for tag in draw.tag %}
                        <a href="{{ path('lddt_main_list_by_tag',{'id':tag.id}) }}"><div class="">#{{ tag.name }}</div></a>
                        {% endfor %}
                    {% if is_granted("ROLE_ADMIN") or is_proprio==true %}
                    <p class="ToolsButton">
                        <a href="{{ path('lddt_main_edit',{'id':draw.id}) }}" class="btn btn-warning">éditer</a>
                        <a href="{{ path('lddt_main_delete',{'id':draw.id}) }}" class="btn btn-danger">supprimer</a>
                    </p>
                    {% endif %}
                </div>
        </div>
        </div>

        <div class="col-lg-5">
            <div class="well">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_USER') %}
                    {{ form_start(commentForm) }}
                    {{ form_widget(commentForm) }}
                    {{ form_end(commentForm) }}
                        {% else %}
                    <p>Merci de vous<a href="{{ path('fos_user_security_login') }}"> identifier</a> ou de <a
                                href="{{ path('fos_user_registration_register') }}">créer un compte</a> pour laisser un commentaire</p>
                    {% endif %}
                </div>
                <h4>Commentaires</h4>
                <ul style="list-style-type: none; ">
                    <!-- si pas de commentaire -->
                    {% if draw.comment.count==0 %}
                    <p>Le dessin <strong><em>{{ draw.title|upper }}</em></strong> n' a pas encore été commenté.</p>
                        {% endif %}
                    {% for comment in draw.comment|reverse %}
                        <li>{{ comment.critic.username }},{{ comment.createdAt|date('d-m-Y H:i:s') }}</li>
                        {#<li>{{ comment.pseudo }},{{ comment.createdAt|date('d-m-Y H:i:s') }}</li>#}
                        <li style="margin-left:25px;">{{ comment.content }}</li>
                    {% endfor %}

                    <hr />

                </ul>
            </div>
        </div>
    </div>
   <!-- Fin Template Niveau 3 -->
{% endblock n3 %}